{{!-- 
  DISPLAYS a blog post title, text, and the user and time
  it was created. Used by the home page AND dashboard.
  CALLED BY  
    homepage.handlebars
    single-post.handlebars
    --}}
<article class="post">
  <div class="title">
    <a href="/post/{{id}}" class="edit-link">{{title}}</a>
    {{!-- new --}}
    <div class="post-display">{{post_txt}}</div> 
    <p class="meta">
    posted by  {{user.username}} on {{format_date created_at}}</p>

 </div>
</article>