<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
  <div class="text">
    {{post_txt}} 
  </div>
  <div class="meta">
    posted by  {{user.username}} on {{format_date created_at}}
    <p><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></p>
  </div>
</article>