{{!-- 
  DISPLAYS a blog post title, text, who it was created by, 
    and link (with count) to comments.
  CALLED BY  
    dashboard.handlebars 
    homepage.handlebars
    single-post.handlebars
    --}}
<article class="post">
  <div class="title">
    <a href="/post/{{id}}" class="edit-link">{{title}}</a>
  </div>
  {{!-- NOTE: Showing the post and number of comments
    is not in the spec - just title and date (I threw in user)
    <div class="text">
    {{post_txt}} 
  </div> --}}
  <div class="meta">
    posted by  {{user.username}} on {{format_date created_at}}
    {{!-- <p><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></p> --}}
  </div>
</article>